
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Syncopate&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto+Mono&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Syncopate&display=swap');

*,
html,
body {
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: var(--background1-color);
    overflow-x: hidden;
    scroll-behavior: smooth;
}

:root {
    --background1-color: #282A36;
    --background2-color: #44475A;
    --accent1-color: #FF79C6;
    --accent2-color: #50FA7B;
    --accent3-color: #6272A4;
    --white-color: #F8F8F2;
}

.init-hidden {
    opacity: 0;
    transition: opacity 1.8s linear;
}

.init-hidden-off {
    opacity: 1;
}

/* NAVBAR:
********************************** */

.navbar {
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    background-color: var(--background2-color);
    top: 0;
    position: fixed;
    margin-bottom: 5vw;
    box-shadow: 2px 2px 12px 5px rgba(0, 0, 0, 0.2);
    z-index: 1;
    justify-content: space-between;
}

#logo {
    width: 1.7rem;
    height: 1.7rem;
    cursor: pointer;
}

/* .div-menu {
    
} */

.navbar .ul-menu {
    margin-bottom: 0;
    padding-right: 1vw;
}

.navbar-anchor {
    color: var(--white-color);
    padding-left: 2.6vw;
    padding-top: .6rem;
    padding-bottom: .6rem;
}

#btn-menu {
    width: 2.2rem;
    height: 2.2rem;
    cursor: pointer;
    background-image: url("../img/btn-menu.png");
    display: none;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

#btn-menu:hover {
    opacity: 70%;
}

.cartoon-carol {
    height: 55%;
    width: 55%;
}

.div-home {
    margin-top: 12vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.div-foto {
    width: 30%;
}

.div-name-role {
    width: 60%;
}

h1 {
    font-family: 'Syncopate', sans-serif;
    color: var(--accent2-color);
    font-size: 5.35vw;
}

h2 {
    font-family: 'Syncopate', sans-serif;
    color: var(--accent1-color);
    font-size: 3vw;
}

/* arrow: */

.div-arrow {
    width: 100%;
    position: relative;
    padding-top: 8rem;
}

.arrows {
    width: 60px;
    height: 72px;
    position: absolute;
    left: 50%;
    margin-left: -30px;
    bottom: 20px;
}

.arrows path {
    stroke: var(--accent3-color);
    fill: transparent;
    stroke-width: 1px;
    animation: arrow 2s infinite;
    -webkit-animation: arrow 2s infinite;
}

@keyframes arrow {
    0% {
        opacity: 0
    }

    40% {
        opacity: 1
    }

    80% {
        opacity: 0
    }

    100% {
        opacity: 0
    }
}

@-webkit-keyframes arrow

/*Safari and Chrome*/
    {
    0% {
        opacity: 0
    }

    40% {
        opacity: 1
    }

    80% {
        opacity: 0
    }

    100% {
        opacity: 0
    }
}

.arrows path.a1 {
    animation-delay: -1s;
    -webkit-animation-delay: -1s;
    /* Safari 和 Chrome */
}

.arrows path.a2 {
    animation-delay: -0.5s;
    -webkit-animation-delay: -0.5s;
    /* Safari 和 Chrome */
}

.arrows path.a3 {
    animation-delay: 0s;
    -webkit-animation-delay: 0s;
    /* Safari 和 Chrome */
}


.curved {
    background: var(--background2-color);
    padding-left: 8vw;
    padding-right: 4vw;
    width: 100%;
}

/* main: */

h3 {
    color: var(--accent1-color);
    font-family: 'Roboto Mono', monospace;
    font-size: 2rem;
    padding-left: 4vw;
    padding-bottom: 4vw;
}

.span-white {
    color: var(--white-color);
}

p {
    font-family: 'Roboto Mono', monospace;
    color: var(--white-color);
    line-height: 1.6rem;
    text-align: center;
    font-size: 1.2rem;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 9vw;
    padding-right: 9vw;
}

.text-aboutme {
    line-height: 1.8rem;
}

.gen-anchor {
    color: var(--white-color);
    font-weight: 600;
}

.container-portfolio {
    padding-left: 8vw;
    padding-right: 8vw;
    width: 100%;
}

.container-skills {
    padding-left: 8vw;
    width: 100%;
}

.col-skills {
    display: flex;
    flex-direction: column;
    justify-self: center;
    margin: 0;
    padding-left: 5vw;
}

.text-skill-none {
    height: 12rem;
    display: flex;
    align-items: center;
}

.div-text-skill {
    display: none;
    height: 12rem;
}

.title-skill {
    font-weight: 600;
}

.text-skill {
    padding-top: .3rem;
}

.div-skills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.div-skill-html {
    background-image: url("../img/skill-html.png");
    height: 8rem;
    width: 8rem;
    background-repeat: no-repeat;
    background-size: 5rem;
    background-position: center;
}

.div-skill-css {
    background-image: url("../img/skill-css.svg");
    height: 8rem;
    width: 8rem;
    background-repeat: no-repeat;
    background-size: 5rem;
    background-position: center;
}

.div-skill-js {
    background-image: url("../img/skill-javascript.png");
    height: 8rem;
    width: 8rem;
    background-repeat: no-repeat;
    background-size: 5rem;
    background-position: center;
}

.div-skill-ts {
    background-image: url("../img/skill-typescript.png");
    height: 8rem;
    width: 8rem;
    background-repeat: no-repeat;
    background-size: 5rem;
    background-position: center;
}

.div-skill-angular {
    background-image: url("../img/skill-angular.svg");
    height: 8rem;
    width: 8rem;
    background-repeat: no-repeat;
    background-size: 5rem;
    background-position: center;
}

.div-skill-java {
    background-image: url("../img/skill-java.png");
    height: 8rem;
    width: 8rem;
    background-repeat: no-repeat;
    background-size: 4.5rem;
    background-position: center;
}

.div-skill-spring {
    background-image: url("../img/skill-spring.png");
    height: 8rem;
    width: 8rem;
    background-repeat: no-repeat;
    background-size: 5rem;
    background-position: center;
}

.div-skill-mysql {
    background-image: url("../img/skill-mysql.png");
    height: 8rem;
    width: 8rem;
    background-repeat: no-repeat;
    background-size: 5rem;
    background-position: center;
}

.div-skill-git {
    background-image: url("../img/skill-gitflow.png");
    height: 8rem;
    width: 8rem;
    background-repeat: no-repeat;
    background-size: 5rem;
    background-position: center;
}

.div-skill-scrum {
    background-image: url("../img/skill-scrum.svg");
    height: 8rem;
    width: 8rem;
    background-repeat: no-repeat;
    background-size: 5rem;
    background-position: center;
}

.div-skill-html:hover {
    background-image: url("../img/skill-html-hover.svg");
    height: 8rem;
    width: 8rem;
    background-repeat: no-repeat;
    background-size: 6rem;
    background-position: center;
}

.div-skill-css:hover {
    background-image: url("../img/skill-css-hover.svg");
    height: 8rem;
    width: 8rem;
    background-repeat: no-repeat;
    background-size: 6rem;
    background-position: center;
}

.div-skill-js:hover {
    background-image: url("../img/skill-javascript-hover.png");
    height: 8rem;
    width: 8rem;
    background-repeat: no-repeat;
    background-size: 6rem;
    background-position: center;
}

.div-skill-ts:hover {
    background-image: url("../img/skill-typescript-hover.png");
    height: 8rem;
    width: 8rem;
    background-repeat: no-repeat;
    background-size: 6rem;
    background-position: center;
}

.div-skill-angular:hover {
    background-image: url("../img/skill-angular-hover.svg");
    height: 8rem;
    width: 8rem;
    background-repeat: no-repeat;
    background-size: 6rem;
    background-position: center;
}

.div-skill-java:hover {
    background-image: url("../img/skill-java-hover.png");
    height: 8rem;
    width: 8rem;
    background-repeat: no-repeat;
    background-size: 5.5rem;
    background-position: center;
}

.div-skill-spring:hover {
    background-image: url("../img/skill-spring-hover.png");
    height: 8rem;
    width: 8rem;
    background-repeat: no-repeat;
    background-size: 6rem;
    background-position: center;
}

.div-skill-mysql:hover {
    background-image: url("../img/skill-mysql-hover.png");
    height: 8rem;
    width: 8rem;
    background-repeat: no-repeat;
    background-size: 6rem;
    background-position: center;
}

.div-skill-git:hover {
    background-image: url("../img/skill-gitflow-hover.png");
    height: 8rem;
    width: 8rem;
    background-repeat: no-repeat;
    background-size: 6rem;
    background-position: center;
}

.div-skill-scrum:hover {
    background-image: url("../img/skill-scrum-hover.svg");
    height: 8rem;
    width: 8rem;
    background-repeat: no-repeat;
    background-size: 6rem;
    background-position: center;
}

.div-text-contact {
    width: 100%;
    display: flex;
    justify-content: start;
    padding-left: 5vw;
}

.div-contacts {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    padding: 5vw;
}

.div-contacts-col {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-right: 4vw;
}

.div-contacts-row {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-right: 4vw;
    width: 100%;
}

.div-contacts-col ul {
    margin-left: 4vw;
}

.div-contacts-row ul {
    margin-left: 4vw;
}

.projects-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 2vw;
}

.projects-column-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
}

.projects-column-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
}

.projeto {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    width: 20.5rem;
    height: 11.5rem;
    border-radius: 3rem;
    margin: 2vw;
}

.projeto ul {
    padding: 0;
    margin: 0;
}

.projeto-overlay {
    background: var(--accent3-color);
    color: var(--white-color);
    width: 20.5rem;
    height: 11.5rem;
    border-radius: 3rem;
    opacity: 92%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;   
}

#bg-p1 {
    background-image: url("../img/bg-heybugs.png");
    border: 3px solid var(--accent3-color);
}

#bg-p2 {
    background-image: url("../img/bg-controlefinanceiro.png");
    border: 3px solid var(--accent3-color);
}

#bg-p3 {
    background-image: url("../img/bg-jumpgame.png");
    border: 3px solid var(--accent3-color);
}

#bg-p4 {
    background-image: url("../img/bg-janelaviva.png");
    border: 3px solid var(--accent3-color);
}

#p1,
#p2,
#p3,
#p4 {
    visibility: hidden;
}

.titulo-projeto {
    font-size: 1.8rem;
    font-weight: 800;
    text-align: center;
}

.texto-projeto {
    font-size: 1.1rem;
    line-height: 1.3rem;
    margin: .5rem 0 .5rem 0;
    padding: 0;
    margin: .2rem;
}

#projeto-anchor {
    color: var(--white-color);

}

#projeto-anchor:hover {
    color: var(--white-color);
    text-decoration: underline;
}

#projeto-icon {
    color: var(--white-color);
    font-size: 1.2rem;
}

.img-portfolio {
    width: 20rem;
}

.row a {
    text-decoration: none;
}

.portfolio-github-anchor {
    font-family: 'Roboto', sans-serif;
    color: var(--white-color);
    text-align: center;
    padding-top: .9rem;
    font-size: 1.3rem;
    padding-left: 1rem;
}

a:hover {
    color: var(--accent2-color);
    text-decoration: none;
    transition-duration: 400ms;
}

.fa-github {
    font-size: 1.8rem;
    text-align: right;
}

.green-icon {
    color: var(--accent2-color);
    font-size: 1.8rem;
}

.fa-graduation-cap {
    font-size: 1.8rem;
}

.div-formacao {
    padding-left: 9vw;
}

.div-formacao-titulo-datas {
    padding-left: 2vw;
}

.p-formacao-titulo {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    font-weight: 600;
    color: var(--white-color);
    text-align: left;
    font-size: 1.3rem;
    padding: 0;
    margin: 0;
}

.p-formacao-datas {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    font-weight: 500;
    color: var(--white-color);
    text-align: left;
    padding: 0;
    margin: 0;
    font-size: 1rem;
}

.p-formacao {
    opacity: 60%;
}

.p-formacao:hover {
    opacity: 100%;
    transition-duration: 150ms;
}

ul {
    list-style-type: none;
}

ul li {
    display: inline-flex;
    margin: 0;
    padding: 0;
}

li a strong {
    padding-left: 0;
    margin: 0;
    text-align: left;
}

ul li a {
    margin: 0;
    padding: 0;
    padding-left: 0;
    align-self: flex-start;
}

.contact-anchor {
    font-family: 'Roboto Mono', monospace;
    color: var(--white-color);
    text-align: center;
    padding-top: .9rem;
    font-size: 1.2rem;
    text-decoration: none;
}

.contact-anchor:hover {
    color: var(--accent2-color);
}

.contact-link:hover {
    letter-spacing: 2px;
}

.cv-anchor {
    color: var(--white-color);
    font-size: 2rem;
    padding-right: 2.5rem;
}

.white-icon {
    color: var(--white-color);
    font-size: 2rem;
}

.bg-color {
    background-color: #44475A;
    width: 100%;
}

h4 {
    color: var(--accent3-color);
    font-family: 'Roboto', sans-serif;
}

h4 span a {
    color: var(--accent3-color);
}

.row-animacao {
    padding-top: 6rem;
    padding-left: 3.75rem;
    padding-bottom: 2rem;
}

.fantasminha {
    position: absolute;
    max-width: 24rem;
    animation: fantasminha-animation 15s linear infinite;
    z-index: 1;
}

@keyframes fantasminha-animation {
    from {
        left: -24rem;
    }

    to {
        left: 100%;
    }

}

@media screen and (max-width: 1080px) {}

@media screen and (max-width: 900px) {

    .div-home {
        flex-direction: column;
        margin-left: 4vw;
    }

    .cartoon-carol {
        margin-top: 2rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    .text-aboutme {
        line-height: 1.6rem;
    }

    .green-icon {
        font-size: 1.3rem;
    }

    p {
        font-size: 1rem;
    }

    .div-formacao {
        padding-left: 4vw;
    }

    .p-formacao-titulo {
        font-weight: 600;
        font-size: 1rem;
    }

    .p-formacao-datas {
        font-weight: 500;
        text-align: left;
        font-size: .8rem;
    }

    .p-formacao {
        font-size: 1rem;
    }

    .cartoon-carol {
        height: 33%;
        width: 33%;
    }

    .div-home {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }

    .div-foto {
        width: 100%;
    }

    .div-name-role {
        width: 100%;
        padding-top: 2rem;
        padding-left: 4vw;
    }

    h1 {
        font-family: 'Syncopate', sans-serif;
        color: var(--accent2-color);
        font-size: 7.6vw;
    }

    h2 {
        font-family: 'Syncopate', sans-serif;
        color: var(--accent1-color);
        font-size: 4.3vw;
    }

}

@media screen and (max-width: 780px) {

    .ul-menu {
        display: none;
    }

    .navbar .active #btn-menu {
        background-image: url("../img/btn-menu-close.png");
        background-size: 1.3rem;
    }

    .navbar .active .ul-menu {
        position: absolute;
        width: 100%;
        top: 4rem;
        right: 0;
        background: var(--background2-color);
        display: flex;
        flex-direction: column;
        box-shadow: 2px 6px 6px 2px rgba(0, 0, 0, 0.2);
    }

    .navbar .active .ul-menu li a {
        padding-left: 68vw;
    }

    .active .ul-menu li {
        border-bottom: solid 1px rgba(222, 222, 222, .1)
    }
    
    .active .ul-menu li:hover {
        background-color: var(--accent3-color);
    }
    
    .active .navbar-anchor {
        font-weight: 600;
        letter-spacing: 1.5px;
        font-size: 1.1rem;
    }
    
    .active .navbar-anchor:hover {
        color: var(--white-color);
        letter-spacing: 5px;
    }

    #btn-menu {
        display: flex;
        justify-self: end;
        align-self: flex-start;
    }
}

@media screen and (max-width: 510px) {

    h3 {
        font-size: 1.5rem;
    }

    .green-icon {
        font-size: 1.1rem;
    }

    p {
        font-size: 1rem;
    }

    .portfolio-github-anchor {
        font-size: 1rem;
    }

    .col-skills {
        padding-left: 0;
    }

    .contact-anchor {
        font-size: 1rem;
    }

    .div-contacts-col ul {
        margin-left: 0;
    }

    .div-contacts-row ul {
        margin-left: 0;
    }

}